* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap,
.footer-warp {
	max-width: 1600px;
	min-width: 340px;
	width: 100%;
	margin: 0 auto;
}
/* === header === */
header {
	width: 100%;
	padding-top: 66.68%;
	background-color: #555;
	background: url(../images/layer-25.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
	
}
	nav {
	width: 90%;
	position: absolute;
	left: 60px;
	top: 20px;
		-ms-display: flex;
		display: flex;
		
		-ms-flex-direction: row;
		flex-direction: row;
		
		-ms-justify-content: space-between;
		justify-content: space-between;
	
	}

		.logo {
			font-size: 2em;
			color: #fff;
			position: relative;
			text-decoration: none;
			font-family: sans-serif;
			letter-spacing: 0.1em;
			text-shadow: 1px 1px 5px #0f0f0f;

		}

		.logo:before {
		content: url(../images/shape.png);
		position: absolute;
		left: -40px;
		top: -10px;
		}
		.logo span {
			content: url(../images/rectangle-17.png);
			position: absolute;
			left: 0;
			top: 35px;
			display: block;
			width: 15%;
			height: 4px;
			background-color: #71a237;
			transition: all .2s ease-in-out;

		}

		/*
		.logo:after {
		content: url(../images/rectangle-17.png);
		position: absolute;
		left: 6px;
		top: 12px;
		}
		*/

		.logo:hover > span {
			width: 100%;
		}


		.menu li {
		list-style-type: none;
		float: left;
		margin-left: 40px;

		position: relative;
		}

		.menu a {
			color: #fff;
			font-size: 1.2em;
			font-family: sans-serif;
			text-decoration: none;
			position: relative;
		}
		
		.menu a:hover + .linkAnimation {
			width: 100%;
		}

		.linkAnimation {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 0%;
			background-color: #71a237;
			transition: all .2s ease-in-out;
		}

		
	
	.menuBtn {
		display: none;
		width: 40px;
		height: 40px;
		background-color: #cacaca;
		position: relative;
		border-radius: 4px;
	}
	.menuBtn:hover {
		background-color: #71a237;
	}
	.menuBtn:active {
		transform: translate(1px, 1px);
	}
		.menuBtn span {
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 1px;
			background-color: #000;
			position: absolute;
			left: 5px;

			transition: all .1s linear;
		}

		.menuBtn span:nth-child(1) {
			top: 8px;
		}
		.menuBtn span:nth-child(2) {
			top: 18px;
		}
		.menuBtn span:nth-child(3) {
			top: 28px;
		}

	.slogan {
		position: absolute;
		left: 40px;
		bottom: 12%;
		font-size: 1.5em;
		text-transform: uppercase;
		font-family: sans-serif;
		word-spacing: 0.2em;
		text-shadow: 1px 1px 2px #000;
	}

		.slogan h1 span {
			color: #a2ca28;
		}
		.slogan p span {
			color: #fd634e;
		}


/* === /header === */

/* === main === */

	.main-top-wrap {
 	background-color: #a2ca28;
 	padding-top: 95px;

 	}
		.features {
			margin: 0 auto;
 			max-width: 1200px;
				-ms-display: flex;
			display: flex;
				-ms-flex-direction: row;
			flex-direction: row;
				-ms-justify-content: space-between;
			justify-content: space-between;
				-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
			.features section {
				-ms-flex: 1;
			flex: 1;
			padding: 45px 20px;
			font-family: sans-serif;
			position: relative;
			min-width: 250px;
			}


				.features section p {
					color: #8297a7;
					font-size: 14px;
					line-height: 1.8em;
					margin-top: 1.8em;
				}
				.features section a {
					text-decoration: none;
					color: #00aeef;
					font-size: 14px;
					position: absolute;
					bottom: 0;
				}
				.features section h1 {
					position: relative;
					font-size: 24px;

				}
				.features section:nth-child(1) h1:before {
					content: url(../images/Shape-7.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(2) h1:before {
					content: url(../images/Shape-8.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(3) h1:before {
					content: url(../images/Shape-11.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(4) h1:before {
					content: url(../images/Shape-10.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
		.content {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
				-ms-display: flex;
			display: flex;
				-ms-flex-direction: row;
			flex-direction: row;
				-ms-flex-wrap: wrap;
			flex-wrap: wrap;
				-ms-font-family: sans-serif;
			font-family: sans-serif;
		}
		.main-top-wrap .content {
			margin-top: 11%;
		}
			.smallBlock {
					-ms-flex-grow: 1;
				flex-grow: 1;
					-ms-flex-basis: 333px;
				flex-basis: 333px;
				background-color: #fff;
				padding: 4% 4%;
			}
			.main-top-wrap .smallBlock {
				text-align: center;
			}
				.smallBlock .block-label,
				.largeBlock .block-label {
					color: #fd634e;
					text-transform: uppercase;
				}
				.smallBlock h1 {
					color: #a2ca28;
					font-size: 2em;
					text-transform: uppercase;
					margin-bottom: 2em;
					position: relative;
				}
				.main-top-wrap .smallBlock h1:after {
					content: url(../images/Shape-17.png);
					position: absolute;
					top: 125%;
					left: 50%;
				}

				.smallBlock p {
					color: #656e74;
					line-height: 1.5em;
					margin-bottom: 1em;
				}
				.smallBlock a {
					color: #a2ca28;
				}

			.largeBlock {
					-ms-flex-grow: 3;
				flex-grow: 3;
					-ms-flex-basis: 670px;
				flex-basis: 670px;
				background-color: #777;
				padding-top: 33%;
				position: relative;
			}
				.main-top-wrap .largeBlock p {
					color: #fd634e;
					position: absolute;
					right: 10%;
					bottom: 10%;
					text-shadow: 1px 1px 1px #000;
				}
				.main-top-wrap .largeBlock p:after {
					content: url(../images/shape-9.png);
					position: absolute;
					bottom: -75%;
				}
					.main-top-wrap .largeBlock p span {
						color: #fff;
					}
			.main-top-wrap .content div:nth-child(2) {
				background: no-repeat url(../images/Layer-26.jpg);
				background-size: cover;
				background-position: 0 -50px;
			}
			.main-top-wrap .content div:nth-child(3) {
				background: no-repeat url(../images/Layer-28.jpg);
				background-size: cover;
				/*background-position: 0 -90px;*/
			}

 	.main-bottom-wrap {
 		background-color: #fd634e;
 	}
		
		.main-bottom-wrap .content div {
			font-family: sans-serif;
		}
 		.main-bottom-wrap .content div:nth-child(1) {
 			background: no-repeat url(../images/Layer-271.jpg);
			background-position: 95% 10%;
			order: 1;
			
 		}
 		.main-bottom-wrap .content div:nth-child(2) {
 			background: no-repeat url(../images/Layer-29.jpg);
			background-size: cover;
			background-position: 0 -80px;
			order: 2;
			position: relative;
			text-shadow: 1px 1px 1px #297a8e;
 		}
			.main-bottom-wrap .content div:nth-child(2) p,
			.main-bottom-wrap .content div:nth-child(2) a {
				color: #fff;
				position: absolute;
				top: 10%;
				text-transform: uppercase;
			}
			.main-bottom-wrap .content div:nth-child(2) p {
				left: 10%;
			}
			.main-bottom-wrap .content div:nth-child(2) a {
				right: 10%;
				text-decoration: none;
			}
			.main-bottom-wrap .content div:nth-child(2) a:after {
				content: url(../images/Shape-13.png);
				position: absolute;
				right: -30px;
			}

 		.main-bottom-wrap .content div:nth-child(3) {
 			order: 3;
 			position: relative;
 		}
 			.main-bottom-wrap .content div:nth-child(3):after {
 				content: url(../images/Shape-16.png);
 				position: absolute;
 				right: 5%;
 				top: 14%;
 			}
 		.main-bottom-wrap .content div:nth-child(4) {
 			background-color: #a2ca28;
 			order: 4;
 			color: #fff;
 			padding: 5%;
 		}
	 		.main-bottom-wrap .content div:nth-child(4) h1 {
	 			font-size: 2em;
	 			margin-bottom: 1em;
	 		}

 		.main-bottom-wrap .content div:nth-child(5) {
 			background: no-repeat url(../images/Layer-31.jpg);
			background-size: cover;
			order: 5;
			
 		}
 		.main-bottom-wrap .content div:nth-child(6) {
 			background: no-repeat url(../images/Layer-30.jpg);
			background-size: cover;
			order: 6;
 		}
 		.main-bottom-wrap .content div:nth-child(7) {
 			background-color: #fff;
 			order: 7;
 			padding: 5%;
 			position: relative;	

 		}
 		.main-bottom-wrap .content div:nth-child(7):after {
 			content: url(../images/Shape-14.png);
 			position: absolute;
 			right: 5%;
 			top: 20%;
 		}
 			.main-bottom-wrap .content div:nth-child(7) h1 {
 				color: #a2ca28;
 				text-transform: uppercase;
 				margin-bottom: 1em;
 			}
 		.main-bottom-wrap .content div:nth-child(8) {
 			background-color: #a2ca28;
 			order: 8;
 			position: relative;
 			padding: 5% 4%;
 		}
 		.main-bottom-wrap .content div:nth-child(8):after {
 			content: url(../images/Shape-15.png);
 			position: absolute;
 			right: 5%;
 			top: 20%;

 		}
 			.main-bottom-wrap .content div:nth-child(8) p,
 			.main-bottom-wrap .content div:nth-child(8) h1 {
 				color: #fff;

 			}
 			.main-bottom-wrap .content div:nth-child(8) h1 {
 				margin-bottom: 1em;
 			}


/* === /main === */
/* === banner === */

.banner {
	text-align: center;
	color: #fff;
	background: no-repeat url(../images/Layer-8.jpg);
	background-size: cover;
	padding: 20% 0;
	font-family: sans-serif;
	background-color: #fd634e;
	background-position: 0px -80px;
	position: relative;
	overflow: hidden;


}
.banner:after {
	content: url(../images/Shape-18.png);
	position: absolute;
	bottom: -3%;
	left: -8%;

}
	
	.banner h1 {
		font-size: 2.5em;
		text-shadow: 0px 0px 35px #070707;
	}

	.banner p {
		padding: 0 24%;
		font-size: 1em;
		text-shadow: 0px 0px 5px #0d0d0d;
	}


/* === /banner === */

/* === footer === */
.footer-wrap {
	background-color: #000;
}
	footer {
		max-width: 1200px;
		margin: 0 auto;
		color: #fff;

	}
	.footer-content {
		display: flex;
			-ms-display: flex;
		flex-direction: row;
			-ms-justify-content: space-between;
		justify-content: space-between;
			-ms-justify-content: space-between;
		flex-wrap: wrap;
			-ms-flex-wrap: wrap;
		padding: 10px 0;
	}
		footer section {
			width: 25%;
			min-width: 300px;
			margin: 10px 0;
			font-family: sans-serif;
		}
			footer section h1 {
				font-size: 1.2em;
				margin-bottom: 1em;
			}
			footer section p {
				color: #8297a7;
			}

		footer section.social {
			width: 270px;
		}
		footer .social li {
			list-style-type: none;
			float: left;
			margin-right: 12px;

		}
		footer .social ul:after {
			content: '';
			display: table;
			clear: both;
		}
		footer .social a {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			
		}
		footer .social a:hover {
			border: 1px solid #fff;
			box-shadow: 0px 0px 15px #fff;
		}
		/* social links */
		footer .social a[title="Facebook"] {
			background: no-repeat url(../images/facebook.png) center;
			background-color: #2e3192;
		}
		footer .social a[title="Twitter"] {
			background: no-repeat url(../images/twitter.png) center;
			background-color: #00aeef;
		}
		footer .social a[title="YouTube"] {
			background: no-repeat url(../images/youtube-play.png) center;
			background-color: #ed3123;
		}
		footer .social a[title="LinkedIn"] {
			background: no-repeat url(../images/linkedin.png) center;
			background-color: #171a8f;
		}
		
		/* /social links */

		.form-wrap:after {
			content: "";
			clear: both;
			display: table;
		}	
			footer form {
				float: right;
			}
				footer input {
					padding: 20px 25px;
					border-radius: 4px;
					margin: .5em .5em;

				}
				footer input[placeholder="Your Name"] {
					width: 200px;
				}
				footer input[placeholder="Your Email"] {
					width: 340px;
				}
				footer input[type="submit"] {
					padding: 20px 32px;
					background-color: #a2ca28;
					color: #fff;
					background-image: url(../images/fa-chevron-circle-right.png);
					background-repeat: no-repeat;
					background-position: 90% 50%;
					cursor: pointer;
				}
				
			
/* === /footer === */




	/* ===	media	=== */

@media (max-width: 1200px) {
		.slogan {
			font-size: 1.1em;
			left: 20px;
			bottom: 8%;
		}
	.banner:after {
		left: -8%;
		bottom: -8%;
	}
		

}

@media screen and (max-width: 1019px) {
			.features section {
				margin: 20px 5%;
			}
		.content {
				-ms-flex-direction: column;
			flex-direction: column;
			display: block;	
		}
			.smallBlock {
					-ms-flex-basis: 0;
				flex-basis: auto;
				/*height: 300px;*/
			}
			.largeBlock {
				-ms-flex-basis: 0;
				flex-basis: auto;
				padding-top: 45%;
			}

			.main-top-wrap .content div:nth-child(2) {
				background-position: 0 68%;
			}

				
			.main-bottom-wrap .content div:nth-child(1) {
				padding-top: 45%;
				background-size: 110%;
				
			}
		/* change blocks orders */
			.main-bottom-wrap .content div:nth-child(2) {
					-ms-order: 3;
				order: 3;
			}
			.main-bottom-wrap .content div:nth-child(3)	{
					-ms-order: 2;
				order: 2;
			}
			.main-bottom-wrap .content div:nth-child(6) {
					-ms-order: 7;
				order: 7;
			}
			.main-bottom-wrap .content div:nth-child(7) {
					-ms-order: 6;
				order: 6;
			}
		/* /change blocks orders */
			.main-bottom-wrap .content div:nth-child(6) {
				padding-top: 45%;
				background-position: 25% 55%;
			}
		.footer-content {
				-ms-justify-content: space-around;
			justify-content: space-around;
			
	}
	.banner:after {
		left: -35%;
		bottom: -9%;
	}
			
}


@media (max-width: 780px) {
	nav {
		width: 80%;
	}
		.menu {
			display: none;
			opacity: 0;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50px;
			z-index: 1;
			transition: opacity 0.5s linear;
		}
			.menu li {
				float: none;
				margin-left: 0;
				width: 100%;
				
			}
				.menu li a {
					display: block;
					width: 100%;
					background-color: rgba(25,35,45,.8);
					border-bottom: 1px solid #999;
					text-align: center;
					padding: 15px 0;
				}
				
				/* attention!!! */
				.menu li a:hover {
					background-color: rgba(25,35,45,1); 
				}
		.menuBtn {
			display: block;
		}

		.features {
			justify-content: space-around;
		}
			.features section {
				width: 40%;
			}
			.largeBlock {
				padding-top: 33%;
			}
	.banner {
		background-position: center;
		background-position-y: -10px;

	}
	.banner:after {
		/*left: -75%;
		bottom: -8%;*/
		display: none;
	}
}

@media (max-width: 420px) {
		.main-top-wrap .content div:nth-child(3) {
			padding-top: 35%;
			background-position: 0 -30px;
		}
			.largeBlock {
				padding-top: 33%;
			}		
		.main-bottom-wrap .content div:nth-child(2) {
			background-position: 0 -60px;
		}
	.banner {
		padding: 30% 0;
		background-position: 0 0;
	}
	.banner:after {
		left: -175%;
		bottom: -20%;
	}
}

/* === /media === */

