* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap,
.footer-warp {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
/* === header === */
header {
	width: 100%;
	padding-top: 66.68%;
	background-color: #555;
	background: url(../images/layer-25.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
	
}
	nav {
	width: 90%;
	position: absolute;
	left: 40px;
	top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

		.logo {
			font-size: 2em;
			color: #fff;
			text-decoration: none;
			font-family: sans-serif;
			letter-spacing: 0.1em;


		}

		.logo:before {
		content: url(../images/shape.png);
		position: absolute;
		left: -40px;
		top: -10px;
		}
		.logo:after {
		content: url(../images/rectangle-17.png);
		position: absolute;
		left: 6px;
		top: 12px;
		}

	
		.menu li {
		list-style-type: none;
		float: left;
		margin-left: 40px;

		position: relative;
		}

		.menu a {
			color: #fff;
			font-size: 1em;
			font-family: sans-serif;
			text-decoration: none;
			position: relative;
		}
		
		.menu a:hover + .linkAnimation {
			width: 100%;
		}

		.linkAnimation {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 0%;
			background-color: #71a237;
			transition: all .2s ease-in-out;
		}

		
	
	.menuBtn {
		display: none;
		width: 40px;
		height: 40px;
		background-color: #cacaca;
		position: relative;
		border-radius: 4px;
	}
		.menuBtn span {
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 1px;
			background-color: #000;
			position: absolute;
			left: 5px;

			transition: all .1s linear;
		}

		.menuBtn span:nth-child(1) {
			top: 8px;
		}
		.menuBtn span:nth-child(2) {
			top: 18px;
		}
		.menuBtn span:nth-child(3) {
			top: 28px;
		}

	.slogan {
		position: absolute;
		left: 40px;
		bottom: 12%;
		font-size: 1.5em;
		text-transform: uppercase;
		font-family: sans-serif;
		word-spacing: 0.2em;
	}

		.slogan h1 span {
			color: #a2ca28;
		}
		.slogan p span {
			color: #fd634e;
		}


/* === /header === */

/* === main === */

	.main-top-wrap {
 	background-color: #a2ca28;
 	padding-top: 95px;

 	}
		.features {
			margin: 0 auto;
 			max-width: 1200px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
			.features section {
			border: 1px solid;
			flex: 1;
			padding: 45px 0;
			font-family: sans-serif;
			position: relative;
			min-width: 250px;
			margin-top: 15px;

			}


				.features section p {
					color: #8297a7;
					font-size: 14px;
					line-height: 1.8em;
					margin-top: 1.8em;
				}
				.features section a {
					text-decoration: none;
					color: #00aeef;
					font-size: 14px;
					position: absolute;
					bottom: 0;
				}
				.features section h1 {
					position: relative;
					font-size: 24px;

				}
				.features section:nth-child(1) h1:before {
					content: url(../images/Shape-7.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(2) h1:before {
					content: url(../images/Shape-8.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(3) h1:before {
					content: url(../images/Shape-11.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
				.features section:nth-child(4) h1:before {
					content: url(../images/Shape-10.png);
					position: absolute;
					left: 0;
					top: -45px;
				}
		.content {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;


		}
			.smallBlock {
				flex-grow: 1;
				flex-basis: 333px;
				background-color: #fff;
				padding: 20px 0;
			}
			.main-top-wrap .smallBlock {
				text-align: center;
			}
				.smallBlock .block-label,
				.largeBlock .block-label {
					color: #fd634e;
					text-transform: uppercase;
				}
				.smallBlock h1 {
					color: #a2ca28;
					font-size: 2em;
					text-transform: uppercase;
				}
				.smallBlock p {
					color: #656e74;
				}
				.smallBlock a {
					color: #a2ca28;
				}

			.largeBlock {
				flex-grow: 3;
				flex-basis: 670px;
				background-color: #777;
				padding-top: 33%;
				position: relative;
			}
				.main-top-wrap .largeBlock p {
					color: #fd634e;
					position: absolute;
					right: 0;
					bottom: 0;
				}
				.main-top-wrap .largeBlock p:after {
					content: url(../images/shape-9.png);
				}
					.main-top-wrap .largeBlock p span {
						color: #fff;
					}
			.main-top-wrap .content div:nth-child(2) {
				background: no-repeat url(../images/Layer-26.jpg);
				background-size: cover;
				background-position: 0 -50px;
			}
			.main-top-wrap .content div:nth-child(3) {
				background: no-repeat url(../images/Layer-28.jpg);
				background-size: cover;
				background-position: 0 -90px;
			}

 	.main-bottom-wrap {
 		background-color: #fd634e;
 	}

 		.main-bottom-wrap .content div:nth-child(1) {
 			background: no-repeat url(../images/Layer-271.jpg);
			background-position: 95% 10%;
			order: 1;
			
 		}
 		.main-bottom-wrap .content div:nth-child(2) {
 			background: no-repeat url(../images/Layer-29.jpg);
			background-size: cover;
			background-position: 0 -90px;
			order: 2;
 		}
 		.main-bottom-wrap .content div:nth-child(3) {
 			order: 3;
 		}
 		.main-bottom-wrap .content div:nth-child(4) {
 			background-color: #a2ca28;
 			order: 4;
 		}
 		.main-bottom-wrap .content div:nth-child(5) {
 			background: no-repeat url(../images/Layer-31.jpg);
			background-size: cover;
			order: 5;
			
 		}
 		.main-bottom-wrap .content div:nth-child(6) {
 			background: no-repeat url(../images/Layer-30.jpg);
			background-size: cover;
			order: 6;
 		}
 		.main-bottom-wrap .content div:nth-child(7) {
 			background-color: #199;
 			order: 7;
 			padding-top: 10%;	

 		}
 		.main-bottom-wrap .content div:nth-child(8) {
 			background-color: #a2ca28;
 			order: 8;
 		}
 			.main-bottom-wrap .content div:nth-child(8) p,
 			.main-bottom-wrap .content div:nth-child(8) h1 {
 				color: #fff;
 			}
 			


/* === /main === */
/* === banner === */

.banner {
	text-align: center;
	color: #fff;
	background: no-repeat url(../images/Layer-8.jpg);
	background-size: cover;
	padding-top: 66%;
	position: relative;

}
	.banner h1,
	.banner p {
		position: absolute;
		left: 0;
	}
	.banner h1 {

	}


/* === /banner === */

/* === footer === */
.footer-wrap {
	background-color: #000;
}
	footer {
		max-width: 1200px;
		margin: 0 auto;
		color: #fff;

	}	
/* === /footer === */




	/* ===	media	=== */

@media (max-width: 1180px) {
		.slogan {
			font-size: 1.1em;
			left: 20px;
			bottom: 8%;
		}
}

@media (max-width: 1019px) {
		.content {
			flex-direction: column;
		}
			.smallBlock {
				flex-basis: 0;
			}
			.largeBlock {
				flex-basis: 0;
				padding-top: 45%;
			}

			.main-top-wrap .content div:nth-child(2) {
				background-position: 0 68%;
			}
			.main-bottom-wrap .content div:nth-child(1) {
				padding-top: 45%;
				background-size: 110%;
			}
		/* change blocks orders */
			.main-bottom-wrap .content div:nth-child(2) {
				order: 3;
			}
			.main-bottom-wrap .content div:nth-child(3)	{
				order: 2;
			}
			.main-bottom-wrap .content div:nth-child(6) {
				order: 7;
			}
			.main-bottom-wrap .content div:nth-child(7) {
				order: 6;
			}
		/* /change blocks orders */
			.main-bottom-wrap .content div:nth-child(6) {
				padding-top: 45%;
				background-position: 25% 55%;
			}
			
}


@media (max-width: 780px) {
		.menu {
			display: none;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50px;
			z-index: 1;
		}
			.menu li {
				float: none;
				margin-left: 0;
				width: 100%;
				
			}
				.menu li a {
					display: block;
					width: 100%;
					background-color: rgba(25,35,45,.8);
					border-bottom: 1px solid #999;
					text-align: center;
					padding: 15px 0;
				}
				/* attention!!! */
				.menu li a:hover {
					background-color: rgba(25,35,45,1); 
				}
		.menuBtn {
			display: block;
		}

		.features {
			justify-content: space-around;
		}
			.features section {
				width: 40%;
			}

}

/* === /media === */

