[33mcommit 5507aa80effe1ea875c864e69ebe3e5c94169e1a[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Sat Apr 29 14:31:37 2017 +0300

    .changed responcive features section

[33mcommit a2267f3b60f48eee60a313c2147818bb471f4bd1[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Sat Apr 29 14:01:24 2017 +0300

    .added support browsers IE adn Moz

[33mcommit d02187eabd12bb12ca57a0f2fa6c2c95e7790fd6[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Fri Apr 21 14:36:07 2017 +0300

    .aded animation for nav link, responcive layout

[33mcommit 7b8effc821c682960be3c1940d9ea41f53e99d86[m
Merge: bf06991 7286a04
Author: uarmadik <uarmadik@gmail.com>
Date:   Fri Apr 14 19:20:18 2017 +0300

    Merge branch 'master' of https://github.com/uarmadik/fitness

[33mcommit bf06991c35ae0425f843e96c34e738f06f125a85[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Fri Apr 14 19:14:37 2017 +0300

    .added new elements

[33mcommit 85bb58efcd734397574be348d05377770b9ff5f1[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Fri Apr 14 19:08:33 2017 +0300

    .added new elements in html and changed style

[33mcommit 7286a04f0728ede81422096adbdbc457117cca19[m
Author: Ihor <uarmadik@gmail.com>
Date:   Fri Apr 14 17:35:05 2017 +0300

    Delete fitness.zip

[33mcommit 6c73674f1b58a4510c9563bf378a0a7314909c7a[m
Author: uarmadik <uarmadik@gmail.com>
Date:   Fri Apr 14 17:00:57 2017 +0300

    Start project
